@media only screen and (min-width: 900px) {
    html {
        padding-left: 27%; 
        padding-right: 27%; 
    }
}

@media only screen and (max-width: 899px) {
    html {
        padding-left: 2%; 
        padding-right: 3%; 
    }
}

body {  
    background-color: #f7f7f7;
    width: 100%;
    margin-bottom: 10%;
    font-family: 'Roboto', sans-serif;
    }

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 500;
    margin-bottom: 20px;
}

h3 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 500;
}
hr {
    border: 0.5px 
    solid rgb(139, 139, 139);
}


a {
    color: #529cce;
    font-family: 'Lora', serif;
}

a:hover {
    color: #b14343;
}

li {
    font-size: 16px;
    font-family: 'Lora', serif;

}

p {
    font-family: 'Lora', serif;
    color: rgb(34, 34, 34);
    font-size: 16px;
}

img {
    display: block;
    min-width: 400px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 30px;
}

.nav-item {
    font-family: 'Roboto', sans-serif;
    margin-right: 30px;
    font-size: 17px;
}

.blog-title {
    margin-bottom: 0;
}

.date {
    color: #808080;
    margin-bottom: 30px;
    margin-top: 10px;
}